{
  "token": "YourDiscordBotTokenHere",
  "clientId": "applicationIDofTheBot",
  "guildId": "serverIDofTheTestServer",
  "condaEnvName": "nameOfCondaEnvironment",
  "condaLocation": "/absolute/path/to/conda/installation"
}